<form action="/apply" method="post">
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Name</span>
        <input required="" name="name" type="text" aria-label="First name" class="form-control" placeholder="enter your name">
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Email</span>
        <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Contact</span>
        <input required="" name="contact" type="tel" aria-label="First name" class="form-control" placeholder="+91 ____ __ ____">
      </div>
    </div>

    
    <button class="w-100 mb-3 mt-2 btn btn-md btn-success" type="submit">
      Submit
    </button>
  </form>
